#require 'development_mail_interceptor'

ActionMailer::Base.smtp_settings = {
  :address              => "mailserver",
  :port                 => 587,
  :domain               => "domain",
  :user_name            => "username",
  :password             => "password",
  :authentication       => "plain",
  :enable_starttls_auto => true
}

ActionMailer::Base.default_url_options[:host] = "localhost:3000"
#ActionMailer::Base.register_interceptor(DevelopmentMailInterceptor) if Rails.env.development?